
@{
    ViewData["ctrl"] = "Wykladowca";
    ViewData["Title"] = "Kontakt - Wirtualny Dziekanat";
}

<div style="height:200px;"></div>
<section class="mb-4 py-1 rounded bg-light">

    <h2 class="font-weight-bold text-center my-5">Kontakt</h2>

    <div class="row justify-content-center">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>
                    </div>
                </div>
                <button class="btn btn-outline-success btn-lg px-4 my-4" type="submit">Wyślij</button>
            </form>
        </div>

    </div>

</section>