@model ProjektZaliczeniowyDziekanat.DAL.Models.Wykladowca;
@{
    ViewData["Title"] = "StudentHome - Wirtualny Dziekanat";    
}

<h1>Witaj na stronie startowej wirtualnego dziekanatu @Model.Imie ! </h1>



